{{#> masterLayout }}
    <mj-section padding="0">
        <mj-column width="600px" padding="0">
            <mj-text line-height="20px" css-class="lumen-font" padding="0 60px">
                <p> Hi {{fullName}},</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p> You have been invited to join {{productName}} Supply Chain by {{hostFullName}} ({{hostEmail}})<br></p>
                <p>Click <a href="{{signUpLink}}">here</a> to verify your email and get started.</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>Have a great day!</p>
            </mj-text>
        </mj-column>
    </mj-section>
{{/masterLayout}}
